<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <a href="/es1">esercizio 1</a><br>
    <a href="/es2">esercizio 2</a><br>
    <a href="/es3">esercizio 3</a><br>
    <a href="/es4">esercizio 4</a><br>
    <a href="/es5">esercizio 5</a><br>
    <a href="/es6">esercizio 6</a><br> 
    <a href="/tendina">esercizio tendina</a><br> 
</body>
</html>