<html>
    <head>
        <title>film</title>
    </head>
    <body>
        <form action="/search" method = "POST">
            <p>scegliere il genere</p>
            <input type="checkbox" name="option1" id="Horror" value="Horror"> Horror <br>
            <input type="checkbox" name="option1" id="Comedy" value="Comedy"> Comedy <br>
            <input type="checkbox" name="option1" id="Drama" value="Drama"> Drama <br>

            <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
        </form>
    </body>
</html>